{
	"$schema": "https://json.schemastore.org/prettierrc",
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"experimentalTernaries": false,
	"printWidth": 80,
	"useTabs": true,
	"trailingComma": "none",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"singleAttributePerLine": true
}
