::-webkit-scrollbar {
	width: 8px;
}

/* Estilo del "railing" (la barra donde se desplaza el indicador) */
::-webkit-scrollbar-thumb {
	background-color: #4f4f4f; /* Puedes cambiar el color según tus preferencias */
	border-radius: 4px;
}

/* Estilo del "track" (la pista donde se desplaza la barra) */
::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Puedes cambiar el color según tus preferencias */
}
